<h1>My name is <span class="name">Casey Webb</span></h1>

<h2>
  I can <a href="https://keybase.io/caseywebb" class="keybase">prove</a> it
</h2>

<h2>I write <a href="https://github.com/caseyWebb" class="github">code</a></h2>

<h2>I <a href="https://twitter.com/notcaseywebb" class="twitter">tweet</a></h2>

<h2>
  Sometimes I <a href="https://medium.com/@notCaseyWebb" class="medium">blog</a>
</h2>

<h2>
  And of course I have an
  <a href="mailto:notcaseywebb@gmail.com" class="email">email</a>, but there are
  <a href="https://gitter.im/caseyWebb" class="gitter">better</a>
  <a href="https://messenger.com/t/notcaseywebb" class="messenger">ways</a>
  to contact me
</h2>

<small class="care">
  If you find the code (or anything else) I publish useful and want to give
  back, please consider donating to one of the following organizations:
  <a href="https://ucp.org">UCP</a>, <a href="https://eff.org">EFF</a>,
  <a href="https://wikimedia.org">Wikimedia</a>,
  <a href="https://aclu.org">ACLU</a>,
  <a href="https://mozilla.org">Mozilla</a>,
  <a href="https://code.org">Code.org</a>,
  <a href="https://represent.us">represent.us</a>,
  <a href="https://sierraclub.org">Sierra Club</a>
</small>

<div class="manifesto">
  UX is not about fancy animations, retina cover images, or the latest trends in
  design It's about respecting your user's time, privacy, sanity, and wallet
  Sometimes, less is more
</div>

<script src="./assets/scripts/zenTitle.ts"></script>
