* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  position: relative;
  font-family: "Helvetica Neue", "Segoe UI", sans-serif;
  color: #333;
  padding: 2rem;
}
@media (min-width: 650px) {
  body {
    padding-top: 6rem;
    padding-left: 6rem;
  }
}
.name {
  display: inline-block;
  background: #333;
  color: white;
  padding: 2px 4px;
  margin: 0 -4px;
}
a {
  padding: 2px 4px;
  margin: 0 -4px;
  text-decoration: none;
}
a:hover {
  color: white;
}
.keybase {
  color: #fd6f31;
}
.keybase:hover {
  background-color: #fd6f31;
}
.github {
  font-family: "Fira Code", "Source Code Pro", "Inconsolata", "Consolas",
    "Menlo", monospace;
  color: #666;
}
.github:hover {
  background-color: #666;
}
.twitter {
  color: #1da1f2;
}
.twitter:hover {
  background-color: #1da1f2;
}
.medium {
  color: #02b875;
}
.medium:hover {
  background-color: #02b875;
}
.email {
  color: #00449e;
}
.email:hover {
  background-color: #00449e;
}
.gitter {
  color: #d5008f;
}
.gitter:hover {
  background-color: #d5008f;
}
.messenger {
  color: #0084ff;
}
.messenger:hover {
  background-color: #0084ff;
}
.manifesto {
  position: absolute;
  text-align: right;
  bottom: 1rem;
  right: 2rem;
  color: #ccc;
  line-height: 2rem;
}
.care {
  color: #ccc;
}
.care a {
  color: #aaa;
  font-weight: bold;
}
.care a:hover {
  color: white;
  background: black;
}

audio {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
ol {
  padding-left: 2rem;
}
li {
  padding-left: 0.4rem;
  cursor: pointer;
  color: #ccc;
  margin-bottom: 5px;
}
li.now-playing {
  color: #333;
  font-weight: bold;
}
p {
  margin-left: 1rem;
  color: #ccc;
  font-size: 10px;
}
